.home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 50px 7vw;
}
.personalView {
    margin: 0  0 50px 0;
    padding: 25px 10px;
    text-align: left;
    color: black;
    background: rgb(255, 255, 255, 0.8);
    box-shadow: 1px 2px 5px black;
}

.personalView h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 26pt;
    margin: 0;
}

.personalView h6 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: right;
    margin: 0 20px 0 0;
}
.personalView p {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 5vw;
    margin: 0;
    color: rgb(102, 102, 102);
}
#personalView {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8pt;
    padding: 10px 7vw;
}

.about {
    padding: 10px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 5vw; */
    background: rgb(255, 255, 255, 0.8);
    box-shadow: 1px 2px 5px black;
}

.profileImage {
    background-image: url('../img/Headshots-37.jpg');
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-position-y: 20%;
}

.profileLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profileLinks img {
    width: 40px;
    margin-bottom: 5px;
}

.logos {
    margin: 30px 0;
    margin-left: 50px;
    background: rgb(255, 255, 255, 0.8);
    box-shadow: 1px 2px 5px black;
}

.logos img {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 700px) {
    .home{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .personalView h2 {
        font-size: 24pt;
    }
    .about {
        /* flex-direction: column; */
        margin-left:0;
    }
    .logos{
        margin: 10px 0 10px 0;
    }
    .profileLinks {
        /* flex-direction: row; */
        padding: 0;
    }
    .profileLinks img {
        margin-left: 5px;
        margin-right: 5px;
    }
    .profileParas {
        width: 80%;
    }
}